<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @entry.text %>
</p>

<%= image_tag @entry.photo.url %>
<%= image_tag @entry.photo.url(:medium) %>
<%= image_tag @entry.photo.url(:thumb) %>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
